* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.container {
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  max-width: 1300px;
}
/* Style Navbar */
.navbar {
  width: 100%;
  height: 80px;
  background-color: rgba(8, 107, 78, 0.05);
}
.navbarLogo {
  display: flex;
}
.navbarLogo img {
  margin: 15px 10px auto 25px;
}
.navbarLogo a {
  margin-top: 22px;
  margin-right: 35px;
  text-decoration: none;
  font-weight: 500;
  font-size: 30px;
  color: #000;
}
.navbarList ul {
  display: flex;
  list-style: none;
  margin: 30px;
}
.navbarList ul li a {
  text-decoration: none;
  margin-left: 25px;
  color: #000;
}
.navbarList ul li a:hover {
  color: #086b4e;
}
.navbarButton {
  margin-left: 30%;
  margin-top: 20px;
}
.navbarButton button {
  border-radius: 10px;
  padding: 7px 9px;
  background: none;
  border: 2px solid #086b4e;
}
.navbarButton button a {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}
.navbarButton .buttonDaftar {
  background: #086b4e;
  margin-left: 10px;
}
.navbarButton .buttonDaftar:hover,
.buttonMasuk:hover {
  box-shadow: 0 0 0 2px #48b997;
}
.navbarButton .buttonMasuk a {
  color: #086b4e;
}
.navbarButton .buttonDaftar a {
  color: #fff;
}
/* End Style Navbar */
/* Start Style Jumbotron */
.jumbotron {
  height: 520px;
  width: 100%;
  background-color: rgba(8, 107, 78, 0.05);
}
.jumbotronText {
  margin-left: 25px;
}
.jumbotronText h1 {
  margin-top: 118px;
  font-weight: 500;
  font-size: 48px;
  color: #000000;
}
.jumbotronText p {
  margin: 20px auto;
  font-size: 24px;
}
.jumbotronText .jumbotronInput {
  width: 410px;
  padding: 11px 15px;
  background: #ffffff;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: none;
  font-size: 20px;
  color: #000;
}
.jumbotronText .jumbotronSearch {
  left: -120px;
  width: 120px;
  position: relative;
  border-radius: 0px 10px 10px 0px;
  padding: 11px 15px;
  font-size: 20px;
  border: none;
  background-color: #086b4e;
  color: #ffffff;
}
.jumbotronText .jumbotronSearch:hover {
  background-color: #0b7e5b;
}
.jumbotron img {
  height: 519px;
  position: absolute;
  margin-top: 0px;
  margin-left: 50%;
}
/* End Style Jumbotron */
/* Start Style Layanan */
.layanan {
  width: 100%;
  height: 350px;
  background-color: #fff;
}
.layanan .row {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}
.layanan .row .col {
  width: 200px;
  height: 250px;
  background: #ffffff;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}
.layanan .row .col div {
  width: 152px;
  height: 152px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  margin: 25px 24px auto 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.layanan .row .col div img {
  height: 59px;
  box-sizing: border-box;
}
.layanan .row .col p {
  text-align: center;
  margin: 25px auto;
}
/* End Style Layanan */
/* Start Style Kontak */
.kontak {
  height: 535px;
  background-color: rgba(8, 107, 78, 0.05);
}
.kontakForm {
  margin: 0px auto;
}
.kontakForm h2 {
  font-size: 30px;
  font-weight: 500;
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
}
.kontakForm form label {
  font-size: 22px;
  margin-bottom: 5px;
  padding-left: 5px;
}
.kontakForm form input,
textarea {
  width: 600px;
  padding: 11px 15px;
  margin-bottom: 10px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
}
.kontakForm form button {
  background: #086b4e;
  border: none;
  padding: 8px 9px;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: 12px;
}
.kontakForm form button:hover {
  background-color: #0b7e5b;
}
/* End Style Kontak */
/* Start Style Newsletter */
.newsletter {
  background-color: #086b4e;
  height: 245px;
}
.newsletterForm {
  margin: 0px auto;
}
.newsletterForm h2 {
  font-weight: 500;
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
  color: #fff;
}
.newsletterForm form {
  margin-left: 160px;
}
.newsletterForm .newsletterInput {
  width: 410px;
  padding: 11px 15px;
  background: #ffffff;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: none;
  font-size: 20px;
  color: #000;
}
.newsletterForm .newsletterSearch {
  left: -160px;
  width: 160px;
  position: relative;
  border-radius: 0px 10px 10px 0px;
  padding: 11px 15px;
  font-size: 20px;
  border: none;
  background: rgba(8, 107, 78, 0.05);
  color: #086b4e;
}
.newsletterForm .newsletterSearch:hover {
  background-color: #0b7e5b;
  color: #fff;
}
/* End Style Newsletter */
/* Start Footer */
footer {
  height: 308px;
}
.footerMain {
  padding: 50px 95px 0px 95px;
}
.footerMain .footerLogo {
  display: flex;
}
.footerMain .footerLogo img {
  width: 50px;
  height: 50px;
}
.footerMain .footerLogo a {
  font-weight: 500;
  font-size: 30px;
  text-decoration: none;
  color: #000;
  padding-left: 10px;
  padding-top: 7px;
}
.footerList {
  margin-left: 195px;
  width: 100%;
}
.footerList .row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footerList .row .col {
  width: 160px;
}
.footerList .row .col h4 {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 15px;
}
.footerList .row .col ul {
  list-style: none;
}
.footerList .row .col ul li {
  margin-bottom: 10px;
}
.footerList .row .col ul li a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
}
.footerGaris {
  margin-top: 50px;
  margin-bottom: 4px;
  height: 2px;
  width: 100%;
  background: #f1f1f1;
}
.footerCopyright {
  font-size: 14px;
  font-weight: 500;
  margin: 0px auto;
  display: flex;
  justify-content: center;
}
/* End Footer */
